<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.learn.chapter03.mapper.UserMapper">

    <resultMap id="userMap" type="com.learn.chapter03.bean.User">
        <!--定义结果类型转化器标识，才能使用类型转换器-->
        <id column="id" property="id" javaType="long" jdbcType="BIGINT"/>

        <result column="user_name" property="userName"/>
        <result column="cnname" property="cnname"/>
        <result column="birthday" property="birthday"/>
        <!-- EnumOrdinalTypeHandler  使用Mybatis自带的数据转换TypeHandler，返回时转换数据 -->
        <result column="sex" property="sex" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler"/>
        <result column="email" property="email"/>
        <result column="mobile" property="mobile"/>
        <result column="note" property="note"/>
    </resultMap>

    <select id="getUser" parameterType="Integer" resultMap="userMap">
        select id, user_name, cnname, birthday, sex, email, mobile, note from t_user where id=#{id}
    </select>

    <!-- EnumOrdinalTypeHandler  使用Mybatis自带的数据转换TypeHandler，插入的是枚举的下标 -->
    <insert id="insertUser" parameterType="com.learn.chapter03.bean.User">
        insert into t_user(user_name, cnname, birthday, sex, email, mobile, note)
        values (#{userName}, #{cnname}, #{birthday}, #{sex, typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler}, #{email}, #{mobile}, #{note})
    </insert>

    <!-- EnumTypeHandler 使用Mybatis自带的数据转换TypeHandler，插入的是枚举的字符串名称 -->
    <insert id="insertUser2" parameterType="com.learn.chapter03.bean.User">
        insert into t_user(user_name, cnname, birthday, sex, email, mobile, note)
        values (#{userName}, #{cnname}, #{birthday}, #{sex, typeHandler=org.apache.ibatis.type.EnumTypeHandler}, #{email}, #{mobile}, #{note})
    </insert>

    <!-- SexEnumTypeHandler 在sex字段的参数中定义了自定义的 typeHandler 转换为int枚举下标数据插入数据库 -->
    <insert id="insertUser3" parameterType="com.learn.chapter03.bean.User">
        insert into t_user(user_name, cnname, birthday, sex, email, mobile, note)
        values (#{userName}, #{cnname}, #{birthday}, #{sex, typeHandler=com.learn.chapter03.typeHandler.SexEnumTypeHandler}, #{email}, #{mobile}, #{note})
    </insert>
</mapper>